@use '../../../scss/abstracts' as *;

.longfire-four {
  
  position: relative;
  overflow: hidden;
  height: 100vh;

  &__background {
    position: absolute;
    inset: 0 0 auto 0;
    height: 100vh;
    z-index: 0;
  }

  &__background-img {
    width: 100%;
    min-height: 100vh;
    height: auto;
    object-fit: cover;
    object-position: center center;
  }

  &__row {
    display: flex;
  }

  &__drop-zone,
  &__board {
    width: 100%;
    max-width: 75rem;
    background: blue;
  }

  &__drop-zone {
    display: flex;
    background: yellow;
  }

  &__drop-zone-cell {
    flex: 1;
    border: 1px solid green;
    height: 16rem;
  }

  &__cell {
    flex: 1;
    aspect-ratio: 1/1;
    border: 1px solid red;
  }

  .no-click {
    pointer-events: none;
    background: orange;
  }
}