@use '../abstracts' as *;

.admin,
.the-campfire,
.the-codex,
.the-crew,
.the-crypt,
.the-campfire-post {
  position: relative;
  overflow: hidden;
  
   &__background {
    position: absolute;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;

     &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;

      height: 30rem;

      background: linear-gradient(
        to bottom,
        rgba($color-bg-dark, 0),
        $color-bg-dark
      );
    }
  } 

  &__background-img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center top;
  } 
}

.admin {
  
}

.the-crypt {
  &__background-img {
    object-position: 75% top;
  } 
}

.the-campfire-post {

}