@use '../abstracts' as *;

.admin {

  &__login {
    
    p {
      margin-bottom: 2rem;
    }
  }

  &__email,
  &__password,
  &__title,
  &__body, 
  &__category {
    display: flex;
    flex-direction: column;
    margin-block: 2rem;
  }

  input,
  .tiptap {
    padding-block: 1rem;
    padding-inline: 2rem;
    color: $color-text-light;
  }

  .tiptap {
    min-height: 40rem;
    resize: vertical;
    overflow: auto;
    background-color: #3b3b3b;
    border: 1px solid light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  }

   label {
    margin-bottom: 1rem;
  }

  button {
    cursor: pointer;
    margin-top: 1rem;
  }
}