@use '../abstracts' as *;

.admin {
  background: url('/images/backgrounds/admin/admin-background/admin-background.avif') no-repeat center center;
  background-size: cover;

  &__login {
    
    p {
      margin-bottom: 2rem;
    }
  }

  &__email,
  &__password,
  &__title,
  &__body, 
  &__category {
    display: flex;
    flex-direction: column;
    margin-block: 2rem;
  }

  input,
  .tiptap {
    padding-block: 1rem;
    padding-inline: 2rem;
    color: $color-text-light;
  }

  .tiptap {
    min-height: 40rem;
    resize: vertical;
    overflow: auto;
    background-color: #3b3b3b;
    border: 1px solid light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  }

   label {
    margin-bottom: 1rem;
  }

  .formatting {
    display: flex;
    flex-wrap: wrap;
    justify-items: space-around;
    align-items: center;
    margin-bottom: 1rem;
    background-color: #3b3b3b;
    border: 1px solid light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  }

  .formatting-section {
    margin-inline: 2rem;
    margin-bottom: 1rem;

    select {
      height: 2.8rem;
      margin-top: 1rem;
    }

    button {
      margin-inline: 1rem;
      border: 1px solid light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
      transition: background-color .2s ease; 

      &:hover {
        background-color: #2b2b2b;
      }
    }
  }

  button {
    cursor: pointer;
    margin-top: 1rem;
    padding-inline: 1rem;
  }

  .btn {
    margin-right: 2rem;
    outline: none;
    transition: background-color .2s ease; 
    border: 1px solid light-dark(rgb(118, 118, 118), rgb(133, 133, 133));

      &:hover {
        background-color: #2b2b2b;
      }
  }
}