@use '../abstracts' as *;

.the-campfire-post__post {

  h1 {
    margin-block: 1rem;
  }

  h3 {
    margin: 0 0 1.4rem;
    font-size: clamp(1.9rem, 4.2vw, 2.8rem);
    line-height: 1.1;
    margin-top: clamp(1rem, 3vw, 2rem);
  }
}